@import url('https://fonts.googleapis.com/css2?family=Lora&family=Raleway:wght@100;200;300;400;500;700&display=swap');

:root {
  --primary-color: #15243e;
  --secondary-color: #822020;
  --tertiary-orange: #ffaf67;
  --lighter-blue: #3c3b6e;
  --white: #e0e2dc;
  --heading: normal 400 1.5rem Lora, serif;
  --superheading: normal 400 8rem/130% 'Lora', serif;
  --subsection-heading: normal 400 24px 'Lora', serif;
  --subsection-subheading: normal 500 14px 'Raleway', sans-serif;
  --subsection-subtitle: normal 700 16px 'Raleway', sans-serif;
  --description-text: normal 300 .92rem 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

/* ?  ⛯  N a v i g a t i o n  ⛯   */

.navbar {
  background-color: #fff;
  padding: .2rem 0 .2rem 10rem;
  font-family: Raleway;
  font-weight: 300;
}

.navbar-nav li a {
  font: normal 500 16px 'Raleway', sans-serif;
  color: var(--primary-color);
}

.navbar-nav li a:hover {
  color: var(--secondary-color);
}

.nav-link:active {
  color: var(--secondary-color)!important;
}

.next-button {
  display: none;
  border-radius: 50%;
  background: linear-gradient(145deg, #cacbc6, #f0f2eb);
  box-shadow:  20px 20px 60px #bec0bb,
              -20px -20px 60px #fffffd;
  border: none;
  left: 46em;
  transition: all 0.3s ease-in-out;
}

.next-button:hover {
  border: none;
  opacity: 1;
  background: #31689b;
  box-shadow: inset 20px 20px 60px #2a5884,
              inset -20px -20px 60px #3878b2;
}

.top-nav {
  display: flex;
  position: absolute;
  height: 3em;
  left: 0;
  top: 0;
  background: var(--primary-color);
  align-items: center;
}

.top-nav-container ul li a {
  color: var(--white);
}

.bottom-nav {
  padding-top: 3em;
}


.second-nav {
  display: none;
}

.quicklink-fb {
  background: #2c8bec;
  color: #fff;
  letter-spacing: 3px;
}

.quicklink-text {
  font: normal 600 12px 'Raleway', sans-serif;
  text-transform: uppercase;
}

.top-nav-list {
  width: 100vw;
  padding: 0 2em 0 2em;
}

.search-bar {
  background-color: transparent;
  font-weight: medium;
  border: none;
}

form .btn-link {
  color: var(--white);
  text-decoration: none;
}

.navbar-brand {
  padding: 1em 2em 1em 1em;
}

@media only screen and (max-width: 750px) {

  .container-fluid .top-nav {
    display: none;
  }

  .top-nav, .top-nav-container {
    background-color: transparent!important;
  }

  .bottom-nav {
    padding-top: 0;
  }

  .top-nav-container {
    display: none;
  }

  .navbar-collapse {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
  }

  .next-button {
    opacity: 0;
    transition: ease-in 1.2s;
    display: block;
    position: absolute;
    z-index: 1;
    left: 33em;
    top: 46vh;
  }

  .navbar-nav li a {
    text-shadow: 8px 8px 9px rgba(98,94,94,0.59);
  }

  .first-nav {
    transition: all ease-in .3s;
    position: absolute;
    left: 20em;
  }

  .second-nav {
    display: block;
    transition: all ease-in .3s;
    position: absolute;
    left: -4em;
  }

  .next-button img {
    transition: rotate .3s ease-in;
  }

  .right-content {
    width: 50%!important;
  }
}

/* ? 🌟  H e r o  S e c t i  o n  🌟  */

.hero-section {
  background: url(assets/hero-section.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  position: relative;
  z-index: 99;
  text-transform: uppercase;
  color: var(--tertiary-orange);
  display: flex;
}

.heading h1 {
  font: var(--heading);
  letter-spacing: 8px;
  display: inherit;
  flex-direction: column;
  align-items: center;
}

.superheading {
  font: var(--superheading);
  color: var(--white);
  letter-spacing: 2rem;
}

.hero-shape {
  position: absolute;
  padding-top: 7rem;
}

.hero-shape picture img {
  mix-blend-mode: multiply;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 64px 90px 64px 90px;
}

.card-content {
  display: flex;
  padding: 12px;
  margin-inline-end: 2em;
  width: 370px;
  gap: 2em;
}

.card-title {
  font: var(--heading);
  color: var(--primary-color);
}

.card-text {
  font: var(--description-text);
  color: var(--primary-color);
}

.subsection {
  height: 65vh;
  background-color: var(--white);
}

/* *  ⬅️  S ub s e c t i o n  👈  l e f t 👈 c o n t e n t   ⬅️ */

.left-content {
  display: flex;
  align-items: flex-end;
  width: 63vw;
  height: 65vh;
  background-color: #b22234;
}

.newsboard-container {
  height: 100%;
  padding: 8em 4em 8em 4em;
}

.newsboard-content-wrapper {
  padding-top: 1.5em;
}

.newsboard-content:nth-child(2) {
  padding-top: 1rem;
}

.newsboard-content:nth-child(3) {
  padding-top: 1rem;
  border: none;
}

.newsboard-content {
  border-bottom: solid 1px #eff2f6;
  padding-bottom: .8rem;
}

.newsboard-heading h3 {
  font: var(--heading);
  color: var(--white);
  font-size: 24px;
}

.subheading {
  font-family: Raleway;
  font-size: 14px;
  color: #fff;
  opacity: 80%;
  font-weight: 500;
  letter-spacing: 1px;
}

.news-date {
  font-family: 'Lora', serif;
  font-size: 14px;
  color: var(--white);
  opacity: 70%;
  margin-bottom: .5rem;
}

.news-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: var(--white);
  font-size: 16px;
}

.callToActionBtn {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 4px;
  color: #fff;
  border: none;
  text-transform: uppercase;
  background-color: #e33f54;
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin-top: 24px;
}

/* ? ➡️  S u b s e c t i o n  👉  r i g h t 👉 c o n t e n t  ➡️  */

.right-content {
  background-color: #fff;
  width: 38vw;
  height: 65vh;
}

.shortcuts-container {
  height: 100%;
  padding: 7em 4em 8em 4em;
}

.shortcuts-heading {
  color: var(--primary-color);
}

.shortcuts-heading h3 {
  font: var(--subsection-heading);
}

.shortcuts-heading p {
  font: var(--subsection-subheading);
  padding: 12px 0 12px 0;
  margin-bottom: 0;
}

.shortcut-links-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 14rem;
}

.shortcut-links-list li {
  width: fit-content;
}

.shortcut-links-list li:first-child {
  padding-top: 4px;
}

.shortcut-links-list li a {
  text-decoration: none;
  font: var(--subsection-subtitle);
  color: var(--secondary-color);
  font-size: 16px;
}

.shortcut-links-divider {
  border-bottom: 1px solid #000;
  opacity: 20%;
  background-color: none;
  margin: .5rem 0 .5rem 0;
}

/* ! 🦶    F o o t e r   🦶  */

footer {
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  padding: 1.5rem 3em 1.5rem 15rem;
  width: 100vw;
}

.company-info-wrapper {
  width: 37vw;
  margin: 0 1.5rem 0 1.5rem;
}

.company-info-wrapper p {
  color: #58606f;
  font-size: 14px;
  font: normal 400 13px 'Raleway', sans-serif;
}

picture img {
  padding: 0 2.5rem 0 2.5rem;
}

@media only screen and (max-width: 1600px) {
  .left-content img {
    width: 95%;
  }

  .newsboard-container {
    padding: 4em 4em 8em 4em;;
  }
}

@media only screen and (max-width: 1440px) {
  .left-content img {
    width: 100%;
  }

  .newsboard-container {
    height: 0;
    padding: 4em 4em 8em 4em;
    position: absolute;
    top: 140vh;
    display: flex;
  }

  .newsboard-heading h3 {
    font-size: 32px;
  }

  .subheading {
    font-size: 16px;
  }

  .newsboard-content-wrapper {
    height: 30vh;
    padding: 0 5rem;
    margin: 2rem 1rem 2rem 6rem;
  }

  .newsboard-content {
    border: none;
    padding: 0;
  }

  .content-divider {
    border-bottom: 1px solid #fff;
    opacity: 30%;
    background-color: none;
  }

  .callToActionBtn {
    width: 54%;
  }
}

@media only screen and (max-width: 1280px) {
  .newsboard-container {
    padding: 3em 4em 8em 4em;
  }

  .newsboard-content-wrapper {
    padding: 1rem 3rem;
    margin: 2rem 1.5rem 2rem 3rem;
  }

  .subheading {
    font-size: 14px;
  }

  .newsboard-heading h3 {
    font-size: 24px;
}
}

@media only screen and (max-height: 1080px) {
  .newsboard-container {
    padding: 8em 4em 8em 4em;
  }
}

@media only screen and (max-height: 900px) {
  .newsboard-container {
    padding: 6em 4em 8em 4em;
  }
}

@media only screen and (min-height: 720px) and (max-height: 899px) {

  .left-content {
    height: 90vh;
  }

  .right-content {
    height: 90vh;
  }
  
  .newsboard-container {
    padding: 11em 4em 8em 4em;
  }

  .newsboard-content-wrapper {
    margin: 2rem 1.5rem 2rem 5rem;
  }
}

/* TODO: Mobile  */

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px) {
  
}

